body {
    background-color:#e2c667 ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header > h1 {
    text-align: center;
    font-size: 4em;
    color: white;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}

footer {
    text-align: center;
    font-style: italic;
    font-weight: bold;
}
#box {
    background-color: aliceblue;
    border-radius: 100%;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

section {
    background-color: rgba(255, 255, 255, 0.616);
    border-radius: 100px;
    padding: 1px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

#photo {
    margin:20px 0px 20px 0px;
}